.idea/
.SynologyWorkingDirectory/
init/config.json.php
init/staff_snapshot.json
resource/files
resource/repository/
vendor/
testlogin.php
.bash_history
.cache/
.config/
.git-credentials
.gitconfig
.lesshst
.local/