<!DOCTYPE html>
<html>
    <head>
		<title>기본에 충실하고 디테일에 강해지자</title>
        <meta title="기본에 충실하고 디테일에 강해지자">
        <meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, viewport-fit=cover"
        >
        <link rel="shortcut icon" href="images/favicon.svg" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="/resource/styles/style.css">
		<link rel="stylesheet" type="text/css" href="/resource/styles/style.mobile.css">
		<link rel="stylesheet" type="text/css" href="/resource/styles/style.darkmode.css">
		<link rel="stylesheet" type="text/css" href="/resource/styles/pagination.css">
		<!-- xeicon -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xpressengine/xeicon@2.3.3/xeicon.min.css">
		<!-- toastui-editor -->
		<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
		<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/theme/toastui-editor-dark.min.css">
		<link rel="stylesheet" href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css">
		<!-- jquery -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/redmond/theme.min.css">
		<style>
		[v-cloak] { 
			display: none !important; 
		}			
		</style>
		
		<!-- jquery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
		<!-- vue -->
        <script src="/resource/js/vue.js"></script>
		<script src="https://unpkg.com/vue-router@4.5.0/dist/vue-router.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue3-sfc-loader"></script>
		<!-- toastui-editor -->
		<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
		<script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
		<!-- gcdg -->
		<script src="/resource/js/script.js"></script>
    </head>
    <body>
		<div id="app" v-cloak>
			<div class="gnb">
				<div class="logo"><router-link to="/project/select">GCDG</a></div>
				<div class="gnb_items">
					<ul class="menu">
						<li v-if="staff.current_project_idx"><router-link to="/dashboard">dashboard</li>
						<li v-if="staff.current_project_idx"><router-link :to="`/${project_idx}/issue`">issue</li>
						<li v-if="staff.current_project_idx"><router-link to="/schedule">schedule</li>
						<li v-if="staff.current_project_idx"><router-link to="/explorer">explorer</li>
						<li v-if="staff.current_repository"><router-link to="/repository">repository</li>
						<li v-if="staff.current_project_idx == 1" ><router-link to="/welease">welease</li>
						<li><router-link to="/project">project</li>
					</ul>
					<div v-if="staff.staff_idx" class="user" @click="mypage" style="cursor: pointer">
						<div><img :src="'/api/staff/portrait/'+staff.staff_idx"></div>
						<div style="color: #fff; margin-left: 10px;">{{ staff.name }}</div>
					</div>
				</div>
			</div>
			<router-view v-slot="{ Component }">
                <transition>
				    <component :is="Component" :me="staff" ref="content" @project-select="projectSelect" />
				</transition>
			</router-view>
		</div>

        <script src="/resource/js/index.js"></script>
   </body>
</html>